/* Estilos para el modo claro */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #212121 !important;
}

.navbar-dark-mode {
    background-color: #444 !important;
}

.card-dark-mode {
    background-color: #303030 !important;
    color: white;
}

.title-dark-mode {
    color: #ff6549 ; /* Rojo cálido */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#dark-mode-toggle{
    background: linear-gradient(to right, #8d8d8d, #353535) !important;
}
